# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

# Visual Studio / VS Code
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# OS Files
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/

# Unity Cache
/[Aa]ssets/AssetStoreTools*

# Unity Version Control (Plastic SCM)
.plastic/
